.header {
    background-color: #041d53;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

header {
    background-color: #041d53;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
}


header img {
    height: 40px;
}

header .logo {
	margin-right: auto;
}

.img-menu {
	cursor: pointer;
}

header .icone {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .icones {
	float: right;
	margin-left: 175%;
	display: flex;
    align-items: center;
	cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
	margin: auto;
    position: relative;
}

input[type="text"] {
    padding-left: 30px; 
    border: none; 
    border-radius: 20px; 
    height: 36px; 
    width: 200px; 
    box-sizing: border-box; 
    font-size: 14px; 
    outline: none; 
}

.search-icon, .mic-icon {
    height: 24px; 
    width: 24px; 
    margin: 0 4px; 
	cursor: pointer;
}

.mic-icon {
    position: absolute; 
    right: 98px; 
    top: 50%; 
    transform: translateY(-50%); 
}
.search-icon {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
}

#carouselExample {
	margin-top: 60px;
}

.login {
	text-align: center;
	width: 400px;
	padding: 20px;
	box-sizing: border-box;
	margin: 100px auto;
	box-shadow: 0 0 20px #ccc;
}

.recuperar {
	text-align: center;
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	margin: 60px auto;
	box-shadow: 0 0 5px #ccc;
}

.cadastro {
	/*text-align: center;*/
	width: 600px;
	padding: 5px;
	box-sizing: border-box;
	margin: 19px auto;
	box-shadow: 0 0 15px #ccc;
}

label{
    font-weight: bold;
}

img {
    height: 400px;
}

footer{    
    background-color: #041d53;
    width: 100%;
    bottom: 0;
    position: fixed;
}
    
footer p{
    color: white;
    text-align: center;
    margin: 5px;
}